body{
    margin: 0%;
    padding: 0%;
    background: url(photo1.jpg);
   background-size: cover;
   background-position: center;

}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 400px;
    padding: 50px;
    background: #3b3b3bbd;
    box-sizing: border-box;
    box-shadow: 0 15px 25px black;
    border-radius: 30px;

        
}
.form input{
    border: none;
    color:rgba(255, 255, 255, 0.884);
    background:rgba(0, 0, 0, 0.363);
    width: 180px;
    height: 40px;
    padding-left: 10px;
    font-weight: bolder;
    border-radius: 10px;
}
.form input[type="password"]{
    margin-bottom: 20px;
}
.form input::placeholder{
    color:rgba(255, 255, 255, 0.671);
}
.form input[type="submit"]{
    font-family: "cooper black";
    border-radius: 30px;
    margin-top: 20px;
}
.form a{
    font-family: "cooper black";
    color: white;
}

