*{
    margin: 5%;
    padding: 5%;
    
    padding-right: 20%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

}

body{
    height: 100vh;
    background-color: #000;
    background-image: url("tona.jpg");
    background-size: cover;
    background-position: center;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #061a05;
    font-size: 1rem;
}
a:hover{
    color: rgba(35, 48, 35, 0.993);
}
header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #3b6e48;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}




.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #333;
    text-align: left;
  }
  
  th, td {
    padding: 12px;
  }
  
  th {
    background-color: #333;
    color: #0f0b0b;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  p {
    margin-bottom: 20px;
  }
  
