body{
    margin: 0%;
    padding: 0%;
    background-color: lightgreen;
   
}
.form{
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 350px;
    padding: 50px;
    background:transparent;
    box-sizing: border-box;
        
}
.form input{
    border: none;
    color: rgb(2, 1, 1);
    background:rgba(0, 0, 0, 0.288);
    width: 250px;
    height: 40px;
    padding-left: 10px;
    font-weight: bolder;
}
.form input[type="password"]{
    margin-bottom: 20px;
}
.form input::placeholder{
    color: black;
    font-weight: bolder;
}
.form input[type="submit"]{
    font-family: "cooper black";
    border-radius: 30px;
    margin-top: 20px;
}
.form a{
    font-family: "cooper black";
    color: black;
}
.sign{
    margin-top: 5px;        
}

